HELP.md
tmp/
target/

# A double asterisk matches zero or more directories.

!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.mvn

mvnw
mvnw.cmd
