HELP.md
tmp/
target/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.mvn

mvnw
mvnw.cmd

doc/
/src/main/resources/application.properties
src/main/resources/application-prod.properties